# MLflow Configuration
# Copy this file to .env and configure with your actual values

# MLflow Tracking Server URI
MLFLOW_TRACKING_URI=http://localhost:5000/

# Experiment name
EXPERIMENT_NAME=yelp_review

# Log model
MLFLOW_MODEL_LOG = False
